<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Baseball App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>

    <body>
        <div class='row' style='height: 10vh; width: 100%;background-color: #494d4f; margin-left:0;'>
            <div class='dropdown'>
                <button class="btn btn-primary dropdown-toggle" type="button" id="yearMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose Year
                </button>
                <div class='dropdown-menu' aria-labelledby="yearMenuButton" id="yearList">
                    <button onclick="clickedElem(this)" class="dropdown-item" id='year'>2015</button>
                    <button onclick="clickedElem(this)" class="dropdown-item" id='year'>2016</button>
                    <button onclick="clickedElem(this)" class="dropdown-item" id='year'>2017</button>
                    <button onclick="clickedElem(this)" class="dropdown-item" id='year'>2018</button>
                    <button onclick="clickedElem(this)" class="dropdown-item" id='year'>2019</button>
                </div>
            </div>
            <div class='dropdown'>
                <button class="btn btn-primary dropdown-toggle" type="button" id="statsMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose a Baseball Statistic
                </button>
                <div class='dropdown-menu' aria-labelledby="statsMenuButton" id="statList">
                </div>
            </div>
            <div class='dropdown'>
                <button class="btn btn-primary dropdown-toggle" type="button" id="measureMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose to see Height or Width of Players
                </button>
                <div class="dropdown-menu" aria-labelledby="measureMenuButton" id="measureList">
                    <button onclick="clickedElem(this)" class="dropdown-item" id='measure'>Height</button>
                    <button onclick="clickedElem(this)" class="dropdown-item" id='measure'>Weight</button>
                </div>
            </div>
        </div>
        <div class='row' style='height: 90vh; width: 100%; margin-left: 0;' id='main_col'>
            <div class='col-md-6' style='border-bottom:solid; border-right: solid;'>
                <svg width="650" height="500" id=bar_chart_stat></svg>
            </div>
            <div class='col-md-6' style='border-bottom: solid; border-right: solid;'>
                <svg width="650" height="500" id=bar_chart></svg>
            </div>

        </div>
    </body>

    <script src="static/js/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/main.js"></script>
</html>
